.projects{
    position: sticky;
    overflow-y: hidden;
    overflow-x: hidden;
}
.projects img{
   width: 33.33%;
   padding: 0%;
   min-height: 100vh;
}

.zoom {
    transition: transform 0.4s; 
}
  
.zoom:hover {
    transform: scale(1.1);
}

.zoom ul {
    z-index: 3000;
    position: fixed;
    top: 80vh;
}