.menu {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 30px 100px;
  z-index: 10000;
  overflow-y: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1000;
  text-decoration: none;
}

@media (max-width: 789px) {
  .menu {
    width: 100%;
    background: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0rem;
    flex-direction: column;
    background-color: #a27cb2;
    width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
  }

  .logo {
    display: none;
  }

  ul {
    list-style-type: none;
    padding: 12px;
    top: 50px;
  }

  .menu ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
  }
  .menu ul li a:hover {
    background: #fff;
    color: #7353ba;
    border-radius: 20px;
  }

  .menu a {
    font-size: 9vw;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    text-align: center;
  }
  .navitem {
      margin: 3rem 0;
  }
}
