@import "../../styles/global.scss";
/* Front image container */
.headersection {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

/* Front image container */
.imgheadcontainer {
    height: 100vh; 
    width: 100vw; 
    position: absolute;
}
/* Front video in header */
.imgheadcontainer > video {
    object-fit: cover;
    height: 100vh; 
    width: 100vw; 
    object-position: center;
    display: block;
    
}

/* Front image in header */
.computer {
    z-index: 11;
    position: relative;
}

/* Front text in header */
.headersection h2 {
    position: absolute;
    color: $white;
    white-space: nowrap;
    font-size: 7.5vh;
    z-index: 10;
}
/* Front button in header */
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: $white;
    color: $black;
    font-size: 1.5em;
    transform: translateY(100px);
    z-index: 12;
}


