$yellow : #F0ED93;
$red : #f44336;
$darkpurple : #673ab7;
$lightpurple : #7353BA;
$white : #ffffff;
$black : #000;
$imgcolor : #160837;
$darkblue : #202945;
$darkgrey : #696969;


// Color Palette
$primary-color: #5D5FEF;  // A modern blue
$secondary-color: #FFD700; // A vibrant yellow
$background-light: #FFFFFF; // White
$background-dark: #333333; // Dark gray
$text-color-light: #333333; // Dark text for light background
$text-color-dark: #FFFFFF; // White text for dark background
