@import "../../styles/global.scss";
  /* Header section */

.headersection {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
}

.imgheadcontainer {
    height: 100vh; 
    width: 100vw; 
    position: absolute;
}
.imgheadcontainer > img {
    object-fit: cover;
    height: 100vh; 
    width: 100vw; 
    object-position: center;
    display: block;
    
}
  /* Front image */

.computer {
    z-index: 11;
    position: relative;
}
  /* Header big text */

.headersection h2 {
    position: absolute;
    color: $white;
    white-space: nowrap;
    font-size: 7.5vh;
    z-index: 10;
}
  /* Header big button */

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: $white;
    color: $black;
    font-size: 1.5em;
    transform: translateY(100px);
    z-index: 12;
}


