@import "../../styles/global.scss";

.header {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 30px 100px;
  display: center;
  top: 0;
  left: 0;
  z-index: 10;
}

.header ul {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 80px;
  padding: 0px auto;
}

.header img {
  height: 150px;
  display: block;
  left: 100px;
  padding: 30px 20px;
}

.header ul > a {
  display: flex;
  flex-grow: 1;
}

.header ul li {
  list-style: none;
  margin-left: 2em;
}

.header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: $white;
  overflow: hidden;
  top: -10px;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.header {
  ul li a:hover {
    background: $white;
    color: $lightpurple;
    border-radius: 20px;
  }

  &.dark-mode {
    ul li a:hover {
      background: $darkblue;
    }
  }
}

@media (max-width: 789px) {
  .header {
    display: none;
  }
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input[type="checkbox"] {
    opacity: 0;

  }
}
.icon {
  position: absolute;
  color: $white;
  font-size: 16px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in-out;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: $white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $darkpurple;
}

input:checked + .slider .icon {
  transform: translate(-35px, -50%);
  color: #252525; 
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: #252525;
}
