@import "../../styles/global.scss";

.header {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 30px 100px;
  display: center;
  top: 0;
  left: 0;
  z-index: 10;
}

.header ul {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 10;
  height: 80px;
  padding: 0px auto;
}

.header img {
  height: 150px;
  display: block;
  left: 100px;
  padding: 30px 20px;
}

.header ul > a {
  display: flex;
  flex-grow: 1;
}

.header ul li {
  list-style: none;
  margin-left: 2em;
}

.header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: $white;
  overflow: hidden;
  top: -10px;
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.header ul li a:hover {
  background: $white;
  color: $lightpurple;
  border-radius: 20px;
}


@media (max-width: 789px) {
  .header {
    display: none;
  }
}
