@import "../../styles/global.scss";

/* General container settings */
.container {
    max-width: 800px;
    margin: 0 auto; // Centers the container horizontally
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; // Ensures that all children are centered
}

/* Top text styling */
.toptext {
    text-align: center; // Centers the text
    h2 {
        color: $white;
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    h2 span {
        color: $yellow;
    }
    p {
        color: $white;
        font-size: 1.2em;
        line-height: 42px;
    }
}

/* Grid container for education and experience */
.educationcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two columns for better spacing
    gap: 40px; // Space between grid items
    width: 100%; // Full width to ensure it fills the container
}

/* Individual education/experience blocks */
.education {
    background-color: $background-light;
    color: $text-color-light;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; // Centers content within each block
}
/* Responsive adjustments */
@media (max-width: 1220px) {
    .educationcontainer {
        grid-template-columns: 1fr; // Stacks the columns on smaller screens
    }
    .education {
        width: 80%;
        margin: 20px auto; // Ensures margin on all sides for better spacing
    }
}

/* Dark mode specific styles */
.darkMode .education {
    background: $darkblue;
    color: $white;
}
.darkMode .texteducation, .darkMode .education ul li span, .darkMode .education ul li small {
    color: $white;
}

/* Additional styles for list items and icons */
.education ul li {
    list-style: none;
    position: relative;
    padding-bottom: 10vh;
    display: block;
    span, small {
        display: block;
        padding-left: 20px;
    }
    span {
        font-weight: bold;
    }
}

.education ul li:before {
    width: 16px;
    height: 16px;
    left: -22px;
    content: "";
    display: block;
    position: absolute;
    background: $yellow;
    top: calc(0% + 3px);
    z-index: 12;
    border-radius: 50%;
    box-shadow: 0 0 0 3px $yellow;
}

.texteducation {
    text-align: left; // Aligns text to the left
    display: flex;
    align-items: center;
    width: 100%; // Ensures it takes the full width of its container
    margin-bottom: 20px;
}

.education ul li::after {
    width: 4px;
    height: calc(100% - 10px); // Adjust height to be slightly less than the li height
    background: $yellow;
    position: absolute;
    left: -16px;
    top: 0;
    content: "";
}




h3 {
    color: $white;
    background: $yellow;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    transition-duration: 0.3s;
    display: inline-block;
    margin-bottom: 0px;
}
