@import "../../styles/global.scss";

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow:visible;

}

.educationcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
} 

.education {
    padding: 35px 30px;
    overflow: hidden;
    color: $black;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    justify-content: space-between;
    position: relative;
    border-radius: 20px;
}


@media (max-width: 1220px){
    .educationcontainer{
        display: block;
    
    }
    .education{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.education ul li span {
    font-weight: bold;
    padding-left: 20px;
    display: block;
}

.education ul li small {
    padding-left: 20px;
    display: block;
}

.education ul img {
    width: 15%;
    position: absolute;
    right: 90px;
    top: 80px;
    display: none;
}

.education ul li {
    list-style: none;
    position: relative;
    padding-bottom: 10vh;
    display: block;
}

.education ul li:before {
    width: 16px;
    height: 16px;
    left: -22px;
    content: "";
    display: block;
    position: absolute;
    background: $white;
    top: 0%;
    z-index: 12;
    border-radius: 50%;
    background: #FEF3C7;
    box-shadow: 0 0 0 3px #E5E7EB;
}
.education ul li:after {
    width: 4px;
    height: 150%;
    background: #E5E7EB;
    left: -16px;
    top: 0;
    content: "";
    display: block;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    z-index: 10;
}

.toptext h2 {
    position: relative;
    padding: 0;
    color: #fff;
    line-height: 1;
    letter-spacing: 0.3px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    text-transform: none;
    margin-bottom: 30px;
}

.toptext h2 span {
    font-weight: 700;
    padding-bottom: 10px;
    color: #f0ed93;
}

.toptext p {
    color: #fff;
    font-size: 1.2em;
    line-height: 42px;
    text-align: center;
}

h3 {
    color: $white;
    background: $yellow;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
    transition-duration: 0.3s;
    display:inline-block;
    margin-bottom: 0px;
}

.texteducation{
    color: $black;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

